commonroad_vehicle_models>=2.0.0
matplotlib>=2.2.2
networkx>=2.2
numpy>=1.13
omegaconf>=2.1.1
pytest>=6.2.5
scipy>=1.5.2
-e git+ssh://git@gitlab.lrz.de/tum-cps/commonroad-route-planner.git@main#egg=commonroad-route-planner
-e git+ssh://git@gitlab.lrz.de/cps/commonroad-io.git@develop#egg=commonroad-io

















